<html>
   <head>
      <style>
         .center{
          margin: auto;
          width: 50%;
          height:60%;
          border: 3px solid green;
          padding: 10px;
          border-radius: 12px;
          }
      </style>
   </head>
   <body style="background-color: #ADD8E6">
      <div class="center">
      <h1 style="color:blue;margin-left: 25%;">Arithmetic Microservices</h1>
      <form action="" method="POST" style="margin-top: 10%;">
         <!-- Hint 1: What if input "first" and "second" had default values? -->
         Enter the First number : <input name="first">
         <br>
         Enter the Second number: <input name="second">
         <br>
         Enter Operation: <select id="op" name="operation">
            <option value="add">Addition</option>
            <option value="minus">Subtraction</option>
            <option value="multiply">Multiplication</option>
            <option value="divide">Division</option>
            <option value="modulus">Modulus</option>
            <option value="exponent">Exponent</option>
            <option value="equal">Equal</option>          </select>
         <br><br>
         <input type="submit" name="submit_button" style="background-color: #4CAF50;
  color: white;
  border-radius: 12px;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin-left: 40%;
  cursor: pointer;">
      </form>
      <div style="font-size: 24px">
        {% for message in get_flashed_messages() %}
         {{message}}
      {% endfor %}
      </div>
    </div>
   </body>
</html>